# Banco de Dados (Alterar senhas em producao)
POSTGRES_USER=bot_admin
POSTGRES_PASSWORD=senha_super_segura_aqui
POSTGRES_DB=chatbot_db

# Evolution API
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=chave_secreta_evolution_api

# Seguranca Webhook
WEBHOOK_SECRET=token_aleatorio_para_proteger_webhook

# LangGraph / IA
OPENAI_API_KEY=sk-proj-sua-chave-aqui
GOOGLE_API_KEY=sua-chave-google-api-studio-aqui
GEMINI_MODEL=gemini-1.5-flash-latest

# URL do Webhook do Bot (Opcional, se vazio usa o nome do container http://bot-python:8000/webhook/whatsapp)
WEBHOOK_URL=http://seu-dominio-ou-ip/webhook/whatsapp
